@font-face {
    font-family: caudex;
    src: url(/data/font/Caudex-Regular.ttf);
}

@font-face {
    font-family: rubik;
    src: url(/data/font/Rubik-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(/data/font/Roboto-Medium.ttf);
}

@font-face {
    font-family: sarabun;
    src: url(/data/font/Sarabun-Regular.ttf);
}

@keyframes flyin {
    from {
        transform: translateY(-20vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes accordion_expand {
    0% {
        grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    }

    83.33% {
        grid-template-columns: 66.67% 6.67% 6.67% 6.67% 6.67% 6.67%;
    }

    100% {
        grid-template-columns: 66.67% 6.67% 6.67% 6.67% 6.67% 6.67%;
    }
}

@keyframes accordion_fadein {
    0% {
        opacity: 0%
    }

    83.33% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

@keyframes accordion_contract {
    0% {
        grid-template-columns: 66.67% 6.67% 6.67% 6.67% 6.67% 6.67%;
    }

    83.33% {
        grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;

    }

    100% {
        grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;

    }
}

/* Fixes background: https://stackoverflow.com/a/33057806 */
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(/data/img/bg1.jpg) no-repeat center center;
    background-size: cover;
}

body {
    margin: 0;
    overscroll-behavior: contain;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;

    perspective: 1px;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layer1 {
    transform: translateZ(-99px) translateY(0vh) scale(100);
    width: 100%;
}

.layer2 {
    transform: translateZ(0px);
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

footer,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
    color: rgb(234, 234, 234) !important;
}

nav {
    max-width: 67vw;
    margin: auto;
    margin-top: calc(8px + 2vh);
    margin-bottom: 4vh;
    position: relative;
}

.nav_el {
    text-align: center;
    border-radius: 0;
    border: 0.1px solid rgba(0, 0, 0, 1);
    font-family: rubik, serif;
    background-image: linear-gradient(rgb(202, 202, 202), rgb(148, 148, 148));
    cursor: pointer;
    color: #222;
    line-height: 50px;
    font-size: 17px;
    width: 100%;
}

.nav_el_sel {
    background-image: linear-gradient(rgb(123, 193, 228) 0%, 15.6682%, rgb(58, 160, 210) 31.3364%, 65.6682%, rgb(6, 121, 180) 100%);
    color: rgb(240, 240, 240) !important;
}

.nav_el:hover {
    background-image: linear-gradient(rgb(107, 107, 107) 0%, 3.21101%, rgb(100, 100, 100) 6.42202%, 53.211%, rgb(6, 6, 6) 100%);
    color: rgb(240, 240, 240);
}

.nav_dd {
    position: relative;
    display: inline-block;
}

.nav_dd_menu {
    display: none;
    position: absolute;
    z-index: 10161922;
    width: 100%;
    text-align: center;
    font-family: rubik, serif;
}

.nav_dd_menu .nav_dd_space {
    display: block;
}

.nav_dd_main {
    background-color: rgba(161, 161, 161, 0.97);
    border-radius: 2px;
    margin-top: 6px;
}

.nav_dd_menu a {
    color: rgb(6, 6, 6);
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    line-height: 32px;
    overflow-wrap: anywhere;
}

.nav_dd_menu a:hover {
    background-image: linear-gradient(rgb(107, 107, 107) 0%, 3.21101%, rgb(100, 100, 100) 6.42202%, 53.211%, rgb(6, 6, 6) 100%);
    color: rgb(240, 240, 240);
}

.nav_dd:hover .nav_dd_menu {
    display: block;
}

#main {
    margin: 8px;
}

.img_contain {
    padding: 1vw;
    text-align: center;
    padding-top: 0;
    aspect-ratio: 16 / 9;
}

.img {
    width: 100%;
    object-fit: cover;
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.img_credit {
    font-size: 8px;
    color: rgb(161, 161, 161);
    font-family: sans-serif;
}

#hamburger {
    display: none;
}
.mnav_main {
    color: black;
    font-size: 4vh;
   
}
.no_und a:link{
    text-decoration: none;
    color: black;

    
}
.no_und a:visited{
    text-decoration: none;
    color: black;

}
.no_und a:hover{
    text-decoration: none;
    color: black;

}
.no_und a:active{
    text-decoration: none;
    color: black;

}
.mnav_sub {
    text-decoration: none;
    font-size: 3vh;
    margin-left: 2vw;
    color: black !important;
}

.arrow {
    border: solid black;
    border-width: 0vw 0.35vh 0.35vh 0vw;
    margin-left: 1.2vh;
    display: inline-block;
    padding: 1vh;
  }

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.show_small{
    display: none ;
}
.show_large{
    display: block;
}


@media only screen and (max-width: 968px) {

    /* Removes padding */
    #main {
        max-width: 100vw !important;
        padding: 8px;
    }

    /* Adjusts size of "The Cornell Astronomical Society" text over top image */
    #cas_overlay {
        font-size: 3.3vw !important;
        max-width: 32vw !important;
    }

    .main_content {
        display: block !important;
    }

    .main_group {
        margin: 3vh 0 !important;
    }

    #newsletter_img {
        max-width: 75vw !important;
    }

    #copyright {
        text-align: left !important;
    }

    nav {
        max-width: 100vw !important;
        margin-top: 0 !important;
    }

    .nav_el {
        background: rgb(161, 161, 161) !important;
        margin: -1px 0 !important;
        padding: -1px 0 !important;
    }

   .nav_el_sel {
        background: none !important;
        color: rgb(139,0, 0) !important;
    }

    .nav_el:hover {
        background: rgb(107, 107, 107) !important;
    }

    .nav_dd {
        display: block !important;
    }

    .nav_dd_menu a {
        width: 100vw;
        position: relative !important;
        display: block !important;
        color: #111;
    }

    .nav_dd_menu {
        position: relative !important;
    }

    .nav_dd_main {
        margin-top: 0;
        background-color: rgb(202, 202, 202);
    }

    nav {
        width: 100vw;
        left: 0;
        top: 0;
        position: fixed !important;
        grid-template-columns: unset !important;
        z-index: 2147483645;
        animation: none !important;
    }

    .nav_display {
        display: block !important;
    }

    .nav_no_display {
        display: none !important;
    }

    #hamburger {
        display: block !important;
        position: fixed !important;
    }
}



.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.special {
    color: goldenrod;
}


/*
Galleries
*/
.gallery-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.item {
    height: 100%;
    cursor: pointer;
}

@keyframes caption {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}

.gallery-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    float: left;
    width: 16%;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    top: 50%;
    transform: translateY(-50%);
}

.image-slide {
    width: 100%;
    max-width: 100vw;
}

.modal-preview {
    width: 100%;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.preview,
img.modal-preview {
    opacity: 1;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#hamburger.hamburger_hide {
    display: none !important;
}
