
body {
  margin: 0;
  overscroll-behavior: contain;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;

  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(-99px) translateY( 0vh) scale(100);
}

.layer2 {
  transform: translateZ(0px);
}

/* specific to this implementation */

.parallax-layer.layer1 {
  width: 100%;

  background: 
  url("data/img/GalaxyBackground.jpg");
  
}


@font-face {
  font-family: caudex;
  src: url(data/font/Caudex-Regular.ttf);
}

@font-face {
  font-family: rubik;
  src: url(data/font/Rubik-Light.ttf);
}

@keyframes flyin {
  from {
      transform: translateY(-20vh);
  }

  to {
      transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  33% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/* Fixes background: https://stackoverflow.com/a/33057806 */
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(data/img/bg1.jpg) no-repeat center center;
  background-size: cover;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
.nav_el {
  text-align: center;
  border-radius: 0;
  border: 0.5px solid black;
  font-family: rubik, serif;
  background-image: linear-gradient(rgb(202, 202, 202), rgb(148, 148, 148));
  cursor: pointer;
  color: #222;
  line-height: 50px;
  font-size: 17px;
  width: 100%;
}

.nav_el_sel {
  background-image: linear-gradient(rgb(123, 193, 228) 0%, 15.6682%, rgb(58, 160, 210) 31.3364%, 65.6682%, rgb(6, 121, 180) 100%);
  color: rgb(240, 240, 240);
}

.nav_el:hover {
  background-image: linear-gradient(rgb(107, 107, 107) 0%, 3.21101%, rgb(100, 100, 100) 6.42202%, 53.211%, rgb(6, 6, 6) 100%);
  color: rgb(240, 240, 240);
}

.nav_dd {
  position: relative;
  display: inline-block;
}

.nav_dd_menu {
  display: none;
  position: absolute;
  z-index: 10161922;
  width: 100%;
  text-align: center;
  font-family: rubik, serif;
}

.nav_dd_menu .nav_dd_space {
  display: block;
}

.nav_dd_main {
  background-color: rgb(161, 161, 161);
  border-radius: 2px;
  margin-top: 6px;
}

.nav_dd_menu a {
  color: rgb(6, 6, 6);
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 17px;
  line-height: 32px;
}

.nav_dd_menu a:hover {
  background-image: linear-gradient(rgb(107, 107, 107) 0%, 3.21101%, rgb(100, 100, 100) 6.42202%, 53.211%, rgb(6, 6, 6) 100%);
  color: rgb(240, 240, 240);
}

.nav_dd:hover .nav_dd_menu {
  display: block;
}


#main {
  margin: 8px;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
